<div class="container">
    <% subscribers.forEach(s => { %>
    <p><%= s.name %></p>
    <p><%= s.email %></p>
    <p><%= s.zipCode %></p>
    <p><%= s.courses %></p>
    <div class="test">___________________________________________________</div>
    <% }); %>
</div>